.grid {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  justify-self: center;
  width: 600px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
}

.grid > button {
  font-size: 7rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  justify-self: center;
  align-self: center;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 0;
}

h1 {
  text-align: center;
}